<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <link rel="stylesheet" href="lib/css/normalize.css">
    <link rel="stylesheet" href="lib/css/foundation.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="lib/js/vendor/modernizr.js"></script>
    <script src="javascripts/remember.js"></script>

  </head>
  <body>
    <div id='wrapper'>
      <div id='container'>
        <div id='title'>
          <h1>Remember When We...<span class='event'><%= event %></span></h1>
        </div>
        <ul class="orbit" data-orbit>
          <li>
            <img src="<%= image1 %>" alt="<%= image1Alt %>" />
            <div class="orbit-caption">
              <%= image1Caption %>
            </div>
          </li>
          <li class="active">
            <img src="<%= image2 %>" alt="<%= image2Alt %>" />
            <div class="orbit-caption">
              <%= image2Caption %>
            </div>
          </li>
          <li>
            <img src="<%= image3 %>" alt="<%= image3Alt %>" />
            <div class="orbit-caption">
              <%= image3Caption %>
            </div>
          </li>
        </ul>
        <div id='body'>
          <dl class="tabs" data-tab>
            <dd class="active"><a href="#panel1">About Us</a></dd>
            <dd><a href="#panel2">Log-in</a></dd>
            <dd><a href="#panel3">Create an Account</a></dd>
          </dl>
          <div class="tabs-content">
            <div class="content active" id="panel1">
              <p>Welcome to Remember When We... Create an interactive an app to share photos, memories of special events in your life.</p>
            </div>
            <div class="content" id="panel2">
              <% if (loginMessage.length > 0) { %>
                <div data-alert class="alert-box alert round">
                  <%= loginMessage %>
                  <a href="#" class="close">&times;</a>
                </div>
              <% } %>
              <form id='login' action="/login" method="post" data-abide>
                <div class="row collapse">
                  <div class="small-3 large-2 columns">
                    <span class="prefix">E-mail</span>
                  </div>
                  <div class="small-9 large-10 columns">
                    <input type='email' name='email' placeholder='Your E-mail' required pattern="email">
                    <small class="error">An email address is required.</small>
                  </div>
                </div>
                <div class="row collapse">
                  <div class="small-3 large-2 columns">
                    <span class="prefix">Password</span>
                  </div>
                  <div class="small-9 large-10 columns">
                    <input type='password' name='password' placeholder='Password' required pattern="alpha_numeric"> 
                    <small class="error">A alphanumeric password is required.</small>
                  </div>
                </div>
                <div class="small-12 large-12 columns">
                  <div class='right'>
                   <input type='submit' value='Login' class='button'>
                  </div>
                  <div class='inline right'>
                    <div class="twitter-circle">
                      <div class="tw-3" class="tw-outside">
                          <div class="tw-text"><span class="fa fa-twitter"></span></div>
                          <div class="tw-click">
                              <a href="/auth/twitter">Log-in with Twitter</a>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class='inline right'>
                    <div class="google-circle">
                      <div class="go-3" class="go-outside">
                          <div class="go-text"><span class="fa fa-google-plus"></span></div>
                          <div class="go-click">
                              <a href="/auth/google">Log-in with Google+</a>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class='inline right'>
                    <div class="facebook-circle">
                      <div class="fb-3" class="fb-outside">
                          <div class="fb-text"><span class="fa fa-facebook"></span></div>
                          <div class="fb-click">
                              <a href="/auth/facebook">Log-in with Facebook</a>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="content" id="panel3">
              <% if (regMessage.length > 0) { %>
                <div data-alert class="alert-box alert round">
                  <%= regMessage %>
                  <a href="#" class="close">&times;</a>
                </div>
              <% } %>
              <form id='registration' action="/signup" method="post" enctype="multipart/form-data" data-abide>
                <div class="row collapse">
                  <div class="small-3 large-2 columns">
                    <span class="prefix">First Name</span>
                  </div>
                  <div class="small-9 large-10 columns">
                    <input type='text' name='firstname' placeholder='Your First Name' required pattern="alpha"> 
                    <small class="error">Your first name is required.</small>
                  </div>
                </div>
                 <div class="row collapse">
                  <div class="small-3 large-2 columns">
                    <span class="prefix">Last Name</span>
                  </div>
                  <div class="small-9 large-10 columns">
                    <input type='text' name='lastname' placeholder='Your Last Name' required pattern="alpha"> 
                    <small class="error">Your last name is required.</small>
                  </div>
                </div>
                <div class="row collapse">
                  <div class="small-3 large-2 columns">
                    <span class="prefix">E-mail</span>
                  </div>
                  <div class="small-9 large-10 columns">
                    <input type='email' name='email' placeholder='Your E-mail' required pattern="email"> 
                    <small class="error">An email address is required.</small>
                  </div>
                </div>
                <div class="row collapse">
                  <div class="small-3 large-2 columns">
                    <span class="prefix">Profile Photo:</span>
                  </div>
                  <div class="small-9 large-10 columns">
                    <input type='file' name='photo' placeholder='Photo Upload'> 
                  </div>
                </div>
                <div class="row collapse">
                  <div class="small-3 large-2 columns">
                    <span class="prefix">Password</span>
                  </div>
                  <div class="small-9 large-10 columns">
                    <input type='password' name='password' id='password' placeholder='Password' required pattern="alpha_numeric"> 
                    <small class="error">A alphanumeric password is required.</small>
                  </div>
                </div>
                <div class="row collapse">
                  <div class="small-3 large-2 columns">
                    <span class="prefix">Password Confirmation</span>
                  </div>
                  <div class="small-9 large-10 columns">
                    <input type='password' placeholder='Confirm Password' required pattern="alpha_numeric" data-equalto="password"> 
                    <small class="error">Password confirmation must match password.</small>
                  </div>
                </div>
                <div class="small-12 large-12 columns">
                  <input type='submit' value='Create Account' class='button right'>
                  <div class='inline right' class=>
                    <div class="twitter-circle">
                      <div class="tw-3" class="tw-outside">
                          <div class="tw-text"><span class="fa fa-twitter"></span></div>
                          <div class="tw-click">
                              <a href="/auth/twitter">Register using Twitter</a>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class='inline right'>
                    <div class="google-circle">
                      <div class="go-3" class="go-outside">
                          <div class="go-text"><span class="fa fa-google-plus"></span></div>
                          <div class="go-click">
                              <a href="/auth/google">Register using Google+</a>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class='inline right'>
                    <div class="facebook-circle">
                      <div class="fb-3" class="fb-outside">
                          <div class="fb-text"><span class="fa fa-facebook"></span></div>
                          <div class="fb-click">
                              <a href="/auth/facebook">Register using Facebook</a>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="lib/js/vendor/jquery.js"></script>
      <script src="lib/js/foundation.min.js"></script>
      <script>
        $(document).foundation();
      </script>
  </body>
</html>
